<!DOCTYPE html>

{% load compress %}
{% load i18n %}
{% load static %}
{% load web_tags %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ page.title }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  {% block css %}

    <!-- Your stuff: Third-party CSS libraries go here -->
    {% compress css %}
      <!-- This file stores project-specific CSS -->

      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Fonts Icon CSS -->
      <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/et-line.css' %}" rel="stylesheet">
      <!-- Animate CSS -->
      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">

      <link href="{% static 'css/main.css' %}" rel="stylesheet">

      <link href="{% static 'css/project.css' %}" rel="stylesheet">

    {% endcompress %}
  {% endblock %}

</head>

<body>
{% wagtailuserbar %}

<div class="loader">
  <div class="loader-outter"></div>
  <div class="loader-inner"></div>
</div>

{% block menu %}
  {% get_site_root as site_root %}
  {% top_menu parent=site_root calling_page=self %}
{% endblock %}

{% block content %}
{% endblock %}

<!--footer start -->
<footer>
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-4 col-12">
        <div class="footer_box">
          <div class="footer_header">
            <div class="footer_logo">
              <img src="{% static 'img/logo.jpg' %}" alt="evento">
            </div>
          </div>
          <div class="footer_box_body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
            </p>
            <ul class="footer_social">
              <li>
                <a href="{{ settings.pages.EventSettings.facebook }}"><i class="ion-social-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="ion-social-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="ion-social-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
<div class="copyright_footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
      <div class="col-12 col-md-6 ">
        {% block bottom_menu %}
          {% get_site_root as site_root %}
          {% bottom_menu parent=site_root calling_page=self %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<!--footer end -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

  <!-- place project specific Javascript in this file -->
  {% compress js %}

    <!-- jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!--parallax -->
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <!--Counter up -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!--Counter down -->
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- WOW JS -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Custom js -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
      $(".countdown")
        .countdown("{{ event.start_date | date:"Y/m/d" }}", function(event) {
          $(this).html(
            event.strftime('<div>%w <span>Tygodni</span></div>  <div>%D <span>Dni</span></div>  <div>%H<span>Godzin</span></div> <div>%M<span>Minut</span></div> <div>%S<span>Sekund</span></div>')
          );
        });

    </script>

    <script src="{% static 'js/project.js' %}"></script>
  {% endcompress %}

{% endblock javascript %}
</body>
</html>

